# Секреты (Никогда не заливать!)
.env

# Папки редактора и системы
.idea/
.vscode/
__pycache__/
*.pyc
.DS_Store

# Виртуальное окружение (Оно весит 100мб, его не заливают)
venv/
server_venv/
env/
client_venv/